<div class="uk-card  uk-card-secondary uk-card-hover uk-animation-toggle ">
  <div class="uk-card-media-top uk-text-center">
  </div>
  <div class="uk-card-body uk-animation-slide-top-small">
      <h3 class="uk-card-title "> {{ job.name }} </h3>
      <br *ngIf="job.name.length < 42">
      <p style="height: 90px;">{{ job.startDate }}</p>
      <p *ngIf="job.status == 1" style="height: 50px;"> CRIADO </p>
      <p *ngIf="job.status == 2" style="height: 50px;"> INICIADO </p>
      <p *ngIf="job.status == 3" style="height: 50px;"> PAUSADO </p>
      <p *ngIf="job.status == 4" style="height: 50px;"> CONCLUIDO </p>

    <button class="uk-button uk-button-default add-button animate__animated animate__fadeInUp button" (click)="changeMode('pause')" *ngIf="mode =='play'">
      <i class="fas fa-play">
      <span class=" uk-margin-small-right"></span>
          Iniciar </i>
    </button>
    <button class="uk-button uk-button-default add-button animate__animated animate__fadeInUp button" (click)="changeMode('play')" *ngIf="mode =='pause'">
      <i class="fas fa-pause">
        <span class="uk-margin-small-right"></span>
        Pausar </i>
    </button>
  </div>

</div>

<!-- <h3 [class.uk-width-1-4]="job.name.length < 38" class="uk-card-title "> {{ job.name }} </h3> -->
