<h1></h1>

<div id="logodiv">
  <img
    src="https://github.com/DevelopmentModalGR/TaskManagmentCoreFrontEnd/blob/main/Images/logo.png?raw=true"
    alt="Logotipo da empresa"
    id="logo"
  />
</div>


<br>
<div id="inputdiv">
  <input class="input" type="text" id="usuário" placeholder="Email" />
<br>
<br>
  <input class="input" type="text" id="senha" placeholder="Senha" />
</div>


<div id="CantoInferior">
<div class="control-label pull-right forgot" id="EsqueciSenha">
  <a class="password-reset forgot--link" href=""> Esqueci minha senha </a>
</div>


<div id="ManterLogado">
  <label class="checkbox keep">
    <input name="user_session[remember_me]" type="hidden" value="0" /><input
      tabindex="3"
      type="checkbox"
      value="1"
      name="user_session[remember_me]"
      id="user_session_remember_me"
    />
    <span>Manter logado</span>
  </label>
</div>
</div>


<div id="divEnter">
  <button id="btnEnter">Entrar</button>
</div>
