<h1> </h1>

<img id="logoLogin" src= "https://www.logogenio.pt/download/preview/engine/8005273" alt="Logotipo da empresa" >


<div>
    <label id= "usuarioLogin" for= "usuário" > Usuário  </label>
    <input type="text" id= "usuário" />
</div>
<div> 
    <label id= "senhaLogin" for= "senha" > Senha  </label>
    <input type="text" id= "senha" />
</div> 
<div> 
   <label  class="checkbox keep"> 
    <input name="user_session[remember_me]" type="hidden" value="0" /><input tabindex="3" type="checkbox" value="1" name="user_session[remember_me]" id="user_session_remember_me" /> 
    <span>Manter logado</span>
    </label>
</div>
<div class="control-label pull-right forgot">
    <a class="password-reset forgot--link" href=""> Esqueci minha senha </a>
    
</div>
    
<div>
    <button id="btnEnter"> Entrar </button>
</div>
