<div> 
    <a href="https://modalgr.com.br"> 
        <img src= "https://github.com/DevelopmentModalGR/TaskManagmentCoreFrontEnd/blob/main/Images/logo.png?raw=true" alt="Logotipo da empresa" width="150" height="50">
    </a>
 </div>
 <div>
    <h1>  TAREFAS </h1> 
    <label for= "text">  O que você procura?  </label>   <button> Nova tarefa </button>
 </div>

 <nav class="uk-navbar-container" uk-navbar>
    
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li id="QUADROS"><a href="#"> QUADROS </a></li>
            <li id="QUADROS"><a href="#"> EQUIPES </a></li>
            <li id="QUADROS"><a href="#"> EU </a></li>
            <li id="QUADROS"><a href="#"> MURAL </a></li>
        </ul>
    </div>
</nav>

<p> teste </p>