<div >
    <h1 id ="namePAGE">  </h1>
    <ul>
  
       <img src= "https://www.logogenio.pt/download/preview/engine/8005273" alt="Logotipo da empresa" width="700" height="300">
       <a [routerLink]="['/login']" id ="btnLOGIN" > LOGIN </a>
       <!-- <button id="btnLOGIN" type ="submit" mat-flat-button>LOGIN</button> -->
    </ul>
    </div>
  
    <div>
      <h1 style="font-family: Book Antiqua" class="intro-container__main-title" id = "TextLOGIN"> Software que todo gestor deveria ter <br> <strong>  feito para uma melhor visão de resultados</strong></h1>
      <p style="font-family: Book Antiqua" class="intro-container__deion" id= "text2Login">Solução completa para gestão de tarefas, projetos e do fluxo do trabalho. </p>
  
    </div>
    <br>
    <br>
    <br>
    <br>
  
     <div>
        <h3 style="font-family: Book Antiqua" id="nameCadastro" class="intro-container__deion"> Cadastre-se grátis </h3>
        <label for="Digite seu email">    </label>
        <input type="text"  id="textInput"  name="Digite seu email">
        <input type="submit"  id="buttonCadastro"  value= "Criar Cadastro" style="font-family:  Arial Black;">
  
     </div>
  