<div class="uk-card  uk-card-secondary uk-card-hover uk-animation-toggle">
  <div class="uk-card-media-top uk-text-center">
  </div>
  <div class="uk-card-body uk-animation-slide-top-small">
      <h3 class="uk-card-title "> {{ checklist.name }} </h3>
      <br *ngIf="checklist.name.length <= 28">
      <p > <strong>INICIADO:</strong> {{checklist.startDate | date}}  {{checklist.startDate | date:'H:mm'}}</p>
      <p > <strong>Tasks: </strong> {{checklist.jobs.length}}</p>

    <button class="uk-button uk-button-default add-button animate__animated animate__fadeInUp button" (click)="changeMode('pause')" *ngIf="mode =='play'">
      <i class="fas fa-play">
      <span class=" uk-margin-small-right"></span>
          Iniciar </i>
    </button>
    <button class="uk-button uk-button-default add-button animate__animated animate__fadeInUp button" (click)="changeMode('play')" *ngIf="mode =='pause'">
      <i class="fas fa-pause">
        <span class="uk-margin-small-right"></span>
        Pausar </i>
    </button>
  </div>

</div>

<!-- <h3 [class.uk-width-1-4]="job.name.length < 38" class="uk-card-title "> {{ job.name }} </h3> -->
